---
import Socials from "../components/Socials.astro";
import { projects } from "../config";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Agyar | Freelance Front-end Developer">
  <main class="relative flex flex-col lg:flex-row">
    <!-- Left -->
    <div
      class="w-full space-y-8 border-r border-white/5 lg:fixed lg:h-screen lg:w-[40vw]"
    >
      <div
        class="flex-col justify-between space-y-3 px-6 py-20 sm:px-24 lg:flex lg:h-full"
      >
        <div class="mb-8 flex flex-col justify-center space-y-5 sm:mb-0">
          <h1 class="text-4xl font-semibold tracking-tight sm:text-5xl">
            Agyar
          </h1>

          <p class="text-xl font-semibold">Front-end Developer</p>

          <p class="leading-7 text-white text-opacity-50">
            Highly motivated <span class="text-white text-opacity-100"
              >Front-End Developer</span
            > with
            <span class="text-white text-opacity-100">2.5+ years</span> of freelance
            experience seeking to leverage expertise in front-end development to
            build user-centric and accessible web experiences.
          </p>
        </div>

        <nav id="navbar" class="hidden space-y-4 lg:block">
          <a
            href="#showcase"
            class="block w-fit text-lg font-medium transition hover:opacity-100"
          >
            Showcase
          </a>

          <a
            href="#environments"
            class="flex w-fit items-center gap-2 text-lg font-medium opacity-50 transition hover:opacity-100"
          >
            <span> Resume </span>
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 16 16"
              >
                <path
                  fill="currentColor"
                  fill-rule="evenodd"
                  d="M13.5 8a5.5 5.5 0 1 1-11 0a5.5 5.5 0 0 1 11 0M15 8A7 7 0 1 1 1 8a7 7 0 0 1 14 0M8.75 5a.75.75 0 0 0-1.5 0v4.19l-.72-.72a.75.75 0 0 0-1.06 1.06l2 2a.75.75 0 0 0 1.06 0l2-2a.75.75 0 1 0-1.06-1.06l-.72.72z"
                  clip-rule="evenodd"></path>
              </svg>
            </span>
          </a>
        </nav>

        <Socials />
      </div>
    </div>
    <!-- End of left -->

    <!-- Right -->
    <div
      id="content"
      class="h-full space-y-10 overflow-y-auto px-6 pb-12 sm:space-y-12 sm:px-24 lg:ml-[40vw] lg:w-[60vw] lg:py-20 lg:pl-12 lg:pr-24"
    >
      <section id="showcase" class="space-y-6">
        <div class="flex items-center justify-between">
          <h2 class="text-xl font-semibold sm:text-2xl">Showcase</h2>
        </div>

        <div class="project-container grid gap-4">
          {
            projects.map((project) => (
              <a
                href={project.href}
                target="_blank"
                class="project group flex w-full cursor-pointer items-start rounded-lg border-white/5 bg-neutral-800 bg-opacity-50 p-6 transition hover:scale-105 hover:border-opacity-50"
              >
                <div class="w-full space-y-4">
                  <h3 class="text-lg font-semibold">{project.name}</h3>
                  <p class="opacity-60">{project.desc}</p>

                  <div class="hidden flex-wrap items-center gap-2 sm:flex">
                    {project.stacks.map((stack) => (
                      <div class="rounded bg-neutral-700/30 px-3 py-1 text-sm">
                        {stack}
                      </div>
                    ))}
                  </div>
                </div>

                <div class="rounded-full bg-neutral-800 p-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up-right"
                  >
                    <>
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M17 7l-10 10" />
                      <path d="M8 7l9 0l0 9" />
                    </>
                  </svg>
                </div>
              </a>
            ))
          }
        </div>
      </section>
    </div>

    <!-- End of right -->
  </main>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const sections = document.querySelectorAll("section");
    const navLinks = document.querySelectorAll("nav a");

    window.addEventListener("scroll", () => {
      let current = "";

      sections.forEach((section) => {
        const sectionTop = section.offsetTop;
        const sectionHeight = section.clientHeight;
        if (window.scrollY >= sectionTop - sectionHeight / 2) {
          current = section.getAttribute("id");
        }
      });

      navLinks.forEach((link) => {
        link.classList.add("opacity-50");
        if (link.getAttribute("href") === "#" + current) {
          link.classList.remove("opacity-50");
        }
      });
    });
  });
</script>

<style>
  .project-container:hover .project {
    opacity: 0.6;
  }

  .project-container .project:hover {
    opacity: 1 !important;
  }
</style>
